extend default

block title
	title Facebook

block css 
	link(rel='stylesheet', href='facebook.css')

block content
		include nav
		+nav('facebook')
		.container
			h1 Console

			.col-sm-6
				button#vai Vai	
			.col-sm-6	
				

		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
