extend default

block title
	title Facebook

block css 
	link(rel='stylesheet', href='facebook.css')

block content
		include nav
		+nav('facebook')
		.container
			p Analisi post facebook degli ultimi due mesi aggiornato ogni ora

			.space-between
					.radio		
		#viz-cont
		
		.container
			.row
				#tooltip.col-sm-6
				#legend.col-sm-6

		script(src='js/d3.v3.min.js')
		script(src='js/moment-with-locales.js')
		script(src='js/numeral.min.js')
		script(src='js/LoadingBar.js')
		script(src='js/colorbrewer.js')
		script(src='js/facebookdb.js')
