extends default
include nav

block title 
		title Classifica 

		
	block content
		+nav('')
		.container
		
			.col-sm-offset-2
				p Ultimo aggiornamento:  
					span= date
				p I dati vengono aggiornati ogni 5 minuti
		
			for i,k in data
				.row(style="margin-top:40px").progetto
					.col-sm-1.col-sm-offset-2

						img.img-rank(src=i.image)
						div.rank=k+1
							//- p

					.col-sm-6
						h4(style="margin-top:5px")= i.t
						p=i.text
						a(href=i.uri, target="_blank"): button.vota Vota
						//- a(href=i.uri, target="_blank") Leggi la proposta
					.col-sm-2.colonna-voti
						h5 voti
						h2(style="margin-top:0;font-size:30px")= i.v
