mixin nav(name)
	// - var list = ['Classifica', 'Storico voti', 'Attività Facebook', 'Storie']
	- var list = [ 'Storico voti', 'Attività Facebook', 'Storie']
	// - var hrefs = ['', 'storico', 'facebook', 'storie']
	- var hrefs = ['storico', 'facebook', 'storie']
	nav.navbar.navbar-inverse
		//- a.navbar-brand(href="/") ✕
		.container-fluid
			ul.nav.navbar-nav
				each href, i in hrefs
					- var item =  list[i]
					if name == href
						li.active(class=href+'-tab' role='presentation'): a(href='/'+href)=item
					else
						li(class=href+'-tab'): a(href='/'+href)=item
			ul.nav.navbar-nav.navbar-right.info
				li: a(href="#" title="coded by danilo for sos") i