extends default
		
block css 
	link(rel='stylesheet', href='/storico.css')

block title
	title Storico voti cheFare

	
block content
	include nav
	+nav('storico')

	.container(style="position:relative")
		div
			p Clicca su un flusso per nasconderlo
			//- a.icon-facebook(rel='nofollow', style="" href='http://www.facebook.com/', onclick="popUp=window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(window.location.href),'popupwindow','scrollbars=yes,width=800,height=400'); popUp.focus(); return false") Condividi questo grafico
		div.right(style="position:absolute; top:0px;right:0px")
		.chart
		p Seleziona i flussi da analizzare  
			a.rimuovitutti(href="#") rimuovi tutti
			span  -  
			a.selezionatutti(href="#") seleziona tutti
		br
		.legend


	script(src="js/d3.v3.js")
	script(src="js/moment.js")
	script(src="js/LoadingBar.js")
	script(src="js/storico.js")