
extends default

block title
	title Le storie di #SOS


block css 


block content
		link(rel='stylesheet', href='/storie.css')
		
		.box-storia-big

		- var counter = 0

		a(href="www.lascuolaopensource.xyz"): h1.main-title La Scuola Open Source
		h5.claim Istituto didattico, Centro di ricerca e consulenza — artistica e tecnologica — per l'Industria, il Commercio e l'Artigianato (digitale e non).

		.container

			.box-cta.item(style="background:red")
				div.detail2
					a(href="http://www.lascuolaopensource.xyz/?page_id=98"): button(style="background:white; color:red; display:block;") Post it!


			for i in data["impara"]
				- counter++
				if i['cosa-desideri-imparare'] && i['perche-vuoi-farlo'] && i['elenca-le-persone']
					.box-storia.item.impara(data-time=i['0'])
						.header
							h3.cosa IMPARARE
						div.detail2
							div.cosa
							if i['cosa-desideri-imparare']
								strong: p Cosa vuoi imparare?
								p!= i['cosa-desideri-imparare']
							
							if i['perche-vuoi-farlo']
								strong: p Perché?
								p!= i['perche-vuoi-farlo']
							
							if i['elenca-le-persone']
								strong: p Da chi?
								p!= i['elenca-le-persone']
						

			for i in data["insegna"]
				- counter++
				if i['cosa-vuoi-insegnare'] && i['perche-vuoi-farlo'] && i['a-chi-si-rivolge']
					.box-storia.item.insegna(data-time=i['0'])
						.header
							h3.cosa INSEGNARE
						div.detail2
							div.cosa
							if i['cosa-vuoi-insegnare']
								strong: p Cosa vuoi insegnare?
								p!= i['cosa-vuoi-insegnare']
							
							if i['perche-vuoi-farlo']
								strong: p Perché?
								p!= i['perche-vuoi-farlo']
							
							if i['a-chi-si-rivolge']
								strong: p A chi?
								p!= i['a-chi-si-rivolge']
							
						

			script(src='https://code.jquery.com/jquery-2.1.4.min.js')
			script(src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js")
			script(src="js/html2canvas.min.js")
			script(src="js/storie.js")
