

p {
	line-height: 21px;
}


#viz-cont {
	width:80%;
	margin:0 auto;
}

#navigation a{
	font-size: .9em;
	text-decoration: none;
	font-weight:bold;
}

#navigation a:hover{
	/*text-decoration: underline;*/
}


#tooltip {
	margin-top:40px;
	overflow: auto;
	overflow-x: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.space-between {
	display: flex;
	justify-content: space-between;
}


#tooltip img { 
	background:  url('img/loader.gif') 0 0 no-repeat;
	min-width: 20px;
	min-height: 20px;
	display: block;

	margin-top:1em;
	margin-bottom:1em;
	max-width:300px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

#tooltip img:hover { 
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: grayscale(0);
}

h1 {
	font-size:2.2em;

}

#tooltip h1 {
	margin-top:0;
	margin-bottom:0;
}
.meta {
	font-size: .9em;
	display: inline-block;
	margin-top:0;
	margin-right:0.5em;
}

.meta span {
}

.date {
	font-size: .9em;
	margin-top:0;
}


.radio label {
	font-family: 'Lekton-Bold';
	margin-right:20px;
}

.axis path {
	display: none;
}

.axis line {
	shape-rendering: crispEdges;
	stroke: #333;
}

.axis text, .label {
	fill: #666666;

}

#legend {
	padding:40px 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 370px;
}



/*#legend::before {
	z-index:2;
	position: absolute;
	content: ' ';
	top:0;
	width:100%;
	height:50px;
	background: red;
	background: -webkit-linear-gradient(top, hsla(0,0%,0%,1), hsla(0,0%,0%,0));
	background:    -moz-linear-gradient(top, hsla(0,0%,0%,1), hsla(0,0%,0%,0));
	background:     -ms-linear-gradient(top, hsla(0,0%,0%,1), hsla(0,0%,0%,0));
	background:      -o-linear-gradient(top, hsla(0,0%,0%,1), hsla(0,0%,0%,0));
	background:         linear-gradient(top, hsla(0,0%,0%,1), hsla(0,0%,0%,0));
}


#legend::after {
	position: absolute;
	content: ' ';
	bottom:0;
	width:100%;
	height:50px;
	background: red;
	background: -webkit-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,1));
	background:    -moz-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,1));
	background:     -ms-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,1));
	background:      -o-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,1));
	background:         linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,1));
}
*/
#legend .toggle {
	display: block;
}


.option {
	font-weight: normal;
	padding-top:20px;
	width: 33.33333%;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;	
}


#legend input[type=checkbox] {
	/*-webkit-appearance: none;*/
	cursor:pointer;
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	margin: 2px 5px 0 5px;
	vertical-align: middle;
	outline: none;
}


.node {
	cursor: pointer;
}

#titolo {
	text-align: center;
}

#titolo img {
	max-height:180px;
}




a.overlay {
	padding:.2em;
	margin-top:.3em;
	text-decoration: none;
	display: inline-block;
	/*color:#333;*/
}
h2.cta {
	margin-bottom:3em;
}
footer {
	text-align: center;
	padding-top:3em;
	height:10em;
	claer:both;
}


rect.pane {
	cursor: move;
	fill: none;
	pointer-events: all;
}

#loading {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
#loading.hiding {
	opacity: 0;
}
