
.axis path, .axis line {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  /*shape-rendering: crispEdges;*/
}

.axis text {
	fill: #999;
}

.legend {
	display: flex;
	flex-wrap: wrap;
}

.legend input {
	margin-right:10px;
	font-size:15px;
	cursor:pointer;
}

.legend div{
	margin-bottom:10px;
	display:flex;
	width:25%;
}

button {
	color: black;
}

path.disabled {
	z-index: 1;
}
.element label {
	cursor: pointer;
}
.element label p { 
	display: inline;
	font-weight: 100;
	opacity:.8;
}
rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

