/* @override http://178.62.121.133:3000/storie.css */

@import url(https://fonts.googleapis.com/css?family=Lekton:400,700,300);

body {
    background:black;
}

body * {
    font-family: 'Lekton';
    color:black;
    text-rendering: optimizeLegibility;
}


h2, h3, h4 {
    font-weight: 900;
}

strong p  {
    font-size: 1.75em;
    margin-top: 1em;
}

p {
    font-size: 1.15em;
}

h5.claim {
	color: white!important;
	margin-top: 0!important;
	padding-right: 5%!important;
	padding-left: 5%!important;
	font-size: 2em!important;
	text-align: center!important;
	line-height: 1.33em!important;
	margin-bottom: 2.5em!important;
}



h1.main-title {
    color: red;
    font-weight: bold!important;
    text-align: left!important;
    font-size: 6em!important;
    text-align:center!important;
	margin-bottom: 0.25em!important;
	padding-right: 1em!important;
	padding-left: 1em!important;
	margin-top: 0.25em!important;
}

h1.main-title:hover{
    color: white;
	transition: all .3s;	
}


.detail2 {
    margin-top:2em;
    color: black;
}

.container {
    padding-bottom: 8em;
}

.header {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}


.share-btn {
    margin:0;
    margin:0;
    width:100%;
    color: white;
    background: red;
    margin-top: 0.5em;
}

.share-btn:hover {
    background-color: white;
    color: red;
    transition: all .3s;
}

a:hover {
	text-decoration: none!important;
}

h3.titolo {
    font-size: 1.25em;
    color: red;
    margin:0;
    width: 50%;
    display: inline;
}

h3.cosa {
    background-color: red;
    color: white;

    display: inline-block;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 0.7em;
    padding: 1em 1em 0.9em;
	clear: both;
	margin: 0.5em;
}


button {
    border: none;
    width: 70%;
    font-size: 2em;
    margin:1em 15%;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0.3em;
    background-color: white;
    transition: all .3s!important;
}

button:hover {
    background-color: red;
    color: white;
    transition: all .3s!important;
}


p {
    font-size: 1.3em;
}
p.detail {
    font-size: 0.75em;
    line-height: 0.9em;
}



.box-cta.item {
    background-color: red;
}

.box-storia {
    background-color: white;
}

div.box-storia.item.insegna {
    background-color: white;
}

a {
    color: #1f77b4;
}
.box-storia.item{
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity:0;

}

.box-cta {
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
   opacity:0;
}
.box-cta.showing, .box-storia.item.insegna.showing, .box-storia.item.impara.showing {
 opacity:1;

}


.box-storia, .box-cta {
    width: 30%;
    float: left;
    display: block;
    padding: 1em;
    background-color: #fff;
    margin: 10px 0;
}

.sostieni {
    margin-top: 2em;
    display:flex;
    justify-content: flex-end;
}

.sostieni p {
    background: white;
    color: black;
    /* text-align: right; */
    display: inline;
    padding: 0.2em 0.5em;
}

.box-storia-big *{
    color: white;
}

.box-storia-big {
    width: 60%;
    padding: 2em;
    background-color: #black; 
}


.box-storia-big strong p  {
    font-size: 3em;
    margin-top: 2em;
}

.box-storia-big p {
    font-size: 2.30em;
}

@media (max-width: 750px) {
    .box-storia, .box-cta {
        width: 90%;
        float: left;
        display: block;
        padding: 1em;
        background-color: #fff;
        margin: 10px 0;
        }}


        @media (min-width: 750px) {
            h3.cosa {
                padding: 0.5em 0.33em 0.33em!important;
            }

            div.detail2 {
                font-size: 0.85em;
            }

        }
