body {
	background:black;

}
body * {
	font-family: 'Lekton';
	color: #fff;
	text-rendering: optimizeLegibility;
}


h2, h3, h4 {
	font-weight: 900;
}

button {
	background: #333;
	color:white;
	border: none;
}

a {
	color: #1f77b4;
}

.info {	
	display:none;
}

@media(min-width: 760px) {
	.info {	
		display:block;
	}
}

/* index */


.rank {
	height: 40px;
	width: 40px;
	line-height: 40px;
	/*background:black;*/
	border-radius: 50%;
	text-align:center;
	position:absolute;
	top: 50%;
	left:50%;
	font-size:20px;
	-webkit-transform:translate(-50%, -50%)
}


.img-rank {
	/*border-radius: 50%; */
	width: 100%; 
	opacity: .2;
	max-width: 100px;
	margin-bottom:20px;
}
@media (min-width: 750px) {
	.img-rank {
		margin-bottom:0px;
	}
}


.colonna-voti {
	text-align:center;
}

.progetto {
	text-align:center;
}

@media (min-width: 750px) {
	.progetto {
		text-align:left;
	}
}

button.vota{
	padding: 8px;
	margin-bottom: 40px;
	background :red;
	width: 50%;
}
@media (min-width: 750px) {
	button.vota{
		width: 100px;

	}
}

@media (min-width: 750px) {
	.colonna-voti button{
		width:auto;
	}
}